@model Bayer.Presentation.ViewModels.CandidatoViewModel

@using (Html.BeginForm("MudarSenha", "Home",FormMethod.Post, new {@class = "user" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.HiddenFor(x => x.Username)
        @*<input type="text" name="senha" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" ">*@
        @Html.EditorFor(x => x.Senha, new {htmlAttributes = new {@class = "form-control form-control-user",@id = "exmapleInputEmail",@placeholder="Digite sua nova senha...",@type="text"} })
    </div>
    <input type="submit" value="Redefinir Senha" class="btn btn-primary btn-user btn-block"/>        
}
